.wrap {}

.header {}

.header .top_bar {
    font-size: 12px;
    border-bottom: 1px solid #f1f1f1;
}

.header .top_bar .slogan {
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

.header .top_bar .slogan a {
    border-right: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    padding: 10px 10px;
    margin: 0 0 0 15px;
    font-size: 10px;
}

.header .header_wrap {
    border-bottom: 1px solid #f1f1f1;
}

.header h1 {
    padding: 5px 0;
}

.header .header_wrap .content {
    justify-content: space-between;
}

.header .header_wrap .gnb>ul {
    gap: 40px;
}

.header .header_wrap .gnb>ul a {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 17px;
}

.main_visual {
    position: relative;
    height: 650px;
    background: url(../img/main_slider01.jpg) no-repeat center top/cover;
    border-bottom: 1px solid #f1f1f1;
}

.main_visual .main_slide {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -585px;

    width: 700px;
    height: 300px;


}

.main_visual .main_slide .itm {}

.main_visual .main_slide .itm strong {
    display: block;
    margin: 0 0 40px 0;
    font-size: 80px;
    font-weight: 900;

    text-shadow: 1px 0 3px rgba(255, 255, 255, 0.25);
    background: linear-gradient(to right top, #0a96ba, #032777, #333333);
    color: transparent;
    -webkit-background-clip: text;
}

.main_visual .main_slide .itm span {
    display: block;
    margin: 0 0 15px 0;
    color: #da544b;
    font-size: 18px;
    font-weight: 300;
}

.main_visual .main_slide .itm p {
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
}

.main_visual .slick-dots {
    position: absolute;
    top: -50px;
    left: 0;
}

.main_visual .slick-dots>li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    margin: 0 2px 0 0;
    opacity: 0.75;
    cursor: pointer;
}

.main_visual .slick-dots>li.slick-active {
    background: #da544b;
}

.main_visual .slick-dots>li button {
    display: none;
}

.main_visual .slogan {
    position: absolute;
    top: 100px;
    left: 50%;
    margin: 0 0 0 50px;
}

.main_customer .tab_menu>li {
    user-select: none;
    cursor: pointer;
}

.main_customer .tab_menu>li.on {
    color: tomato;
}

.main_customer .tab_content {}

.main_customer .tab_content>li {
    display: none;
}

.main_customer .tab_content>li.on {
    display: block;
}

.footer {
    padding: 30px 15px;
    background: #333;
    color: #fff;
    text-align: center;
}

.to_top {
    position: fixed;
    bottom: 100px;
    right: 100px;

    background: tomato;
    color: #fff;
    padding: 10px;

    user-select: none;
    cursor: pointer;

    display: none;
}

.family_link {
    color: #333;
}

.right_banner {
    position: fixed;
    top: 200px;
    right: -400px;
    transition: 0.5s;
}

.right_banner.on {
    right: 0;
}

.right_banner i {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    padding: 10px;
    background: #333;
    color: #fff;
    font-size: 20px;
}

.right_banner i.on {
    transform: translate(-100%, 0) rotate(180deg);
}

.right_banner .content {
    width: 400px;
    height: 500px;
    background: tomato;
}